laba.zpseapil.club {
	tls /etc/caddy/certs/laba-origin.pem /etc/caddy/certs/laba-origin-key.pem
	encode zstd gzip

	reverse_proxy 127.0.0.1:3020

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "no-referrer"
		X-Robots-Tag "noindex, nofollow, noarchive, nosnippet, noimageindex"
		-Server
	}
}

*.zpseapil.club {
	tls /etc/caddy/certs/laba-origin.pem /etc/caddy/certs/laba-origin-key.pem
	encode zstd gzip

	@laba_device expression {host}.endsWith('-laba.zpseapil.club')
	handle @laba_device {
		reverse_proxy 127.0.0.1:3020
	}
	handle {
		respond 404
	}

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "no-referrer"
		X-Robots-Tag "noindex, nofollow, noarchive, nosnippet, noimageindex"
		-Server
	}
	@laba_camera_embed {
		host k1se-camera-laba.zpseapil.club
		path /
	}
	header @laba_camera_embed -X-Frame-Options
	@not_laba_camera_embed {
		not {
			host k1se-camera-laba.zpseapil.club
			path /
		}
	}
	header @not_laba_camera_embed X-Frame-Options "DENY"
}
